.taskDetail-info{
	margin-top: 10px;
	display: flex;
	flex: 1;
	flex-direction: column;
}






















































































































































































































































































































































































































































































































































































